* {
    margin: 0px;
    padding: 0px;
}

/* font-family: 'Poppins', sans-serif; */
header {
    width: 100%;
    height: 100vh;
    background-image: url('image/sky.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    ;
}

.nav1 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}

.nav1 a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    border-right: 2px solid white;

}

.nav1 a:hover {
    background-color: brown;
    color: chartreuse;
    border-radius: 50%;
}

#call:hover {
    background-color: brown;
    color: chartreuse;
    border-radius: 40px;
}

.nav2 {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 70px; */
    flex-wrap: wrap;
}

.logo img {
    width: 70px;
}

#name {
    letter-spacing: 3px;
    font-size: 3em;
    font-weight: bold;
}

.icon i {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid grey;
    margin: 0 5px;
    cursor: pointer;
    transition: 4s;
}

.icon i:hover {
    background-color: brown;
    color: chartreuse;
    border-radius: 40px;
}

.nav3 {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: yellow;
    padding: 0 20px;
    flex-wrap: wrap;
}

#cloth a {
    padding: 3px 50px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;

}

#cloth a:hover {
    background-color: brown;
    color: chartreuse;
    border-radius: 40px;
}

#collection {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#collection:hover {
    background-color: brown;
    color: chartreuse;
    border-radius: 40px;
}

.collection-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

#kurti img {
    width: 250px;
    height: 200px;
}

#tshirt img {
    width: 200;
    height: 200px;
}

#shoes img {
    width: 200;
    height: 200px;
}

.left {
    padding: 20px 5px;
    margin: auto;
}

.left img:hover {
    box-shadow: 12px 12px 2px 1px rgba(251, 255, 0, 0.947);
}

.left p {
    margin-top: 20px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: red;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width:770px) {
    .nav1 {
        width: 100%;
        font-size: 9px;
    }

    .nav2 {
        width: 100%;
        font-size: 8px;
    }

    .icon i {
        font-size: 10px;
        text-align: right;
        margin-right: 2px;
        padding: 0px 0px;
    }

    .nav3 {
        width: 100%;
    }

    #cloth a {
        padding: 0px 2px;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    #collection {
        width: 100%;
        margin-top: 10px;
    }
    .collection-row{
        width:100%;
        margin-top:10px;
        padding:0px 0px;
    }
    #shoes {
        display: none;
    }

    #bangles {
        display: none;
    }

}